MAIL_API_KEY=xxxx xxxx xxxx xxxx
MAIL_API_URL=YOURSFTPSERVER #if u want to implement sftp server, make sure to change backend logic according to sftp docs
                            #if u want however delete it, make sure to change backend logic and get rid of email requirement