<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Filmy</title>
</head>
<body>
<h1>Lista filmów</h1>

<table border="1" cellpadding="6">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tytuł</th>
        <th>Gatunek</th>
        <th>Wiek</th>
        <th>Reżyser</th>
        <th>Trailer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="f : ${films}">
        <td th:text="${f.id}">1</td>
        <td th:text="${f.title}">Tytuł</td>
        <td th:text="${f.genre}">Gatunek</td>
        <td th:text="${f.ageRating}">13</td>
        <td th:text="${f.director}">Reżyser</td>
        <td>
            <a th:href="${f.trailerUrl}" target="_blank" rel="noopener"
               th:text="${f.trailerUrl}">
                Trailer
            </a>
        </td>

    </tr>
    </tbody>
</table>

<p><a href="/">Powrót</a></p>
</body>
</html>
